.App {
  background-image: url('./y-so-serious.png');
  background-color: linear-gradient(135deg, rgb(38, 139, 255), rgb(98, 0, 255));
  background-repeat: repeat;
  min-height: 100vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 1rem;
}

body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

#post-base {
  background-color: rgba(255, 255, 255, .8);
  backdrop-filter: blur(5px);
  margin: 1rem;
  z-index: 1;
}