.App {
  background-image: url('http://placekitten.com/g/200/480');
  background-repeat: repeat;
  min-height: 100vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.content-wrapper {
  border: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: black;
}

html {
  background-image: url('http://placekitten.com/g/200/480');
  background-repeat: repeat;
}
